.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# 放到GitHub上的代码，不要使用真实接口，可以在readme中说明，让他们添加我的微信，获取新的接口地址。
# 最新接口地址：任选其一即可，其它作为备份
2020年4.4
# baseURL = "http://152.136.185.210:8000/api/h8" 
# baseURL = "http://123.207.32.32:8000/api/h8" 
# baseURL = "http://106.54.54.237:8000/api/h8" 